<header>
  <div class="container=fluid">
    <div class="row">
      <div id="map3"></div>
      <div class="venue_address_header">
        <address><%= @venue.venue_address %> <%= @venue.venue_city %>, <%= @venue.venue_state %></address>
      </div>
    </div>
  </div>
</header>
<section id="venue">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 full_width_div">
        <div class="venue_details">
          <div class="image-container">
            <div class="overlay">
              <h2><%= @venue.name %></h2>
            </div>
            <img class="img-responsive venue_highlight_img" src="<%= @venue.photo_url %>" />
          </div>
          <div class="col-sm-12 venue_info_header">
            <div class="col-md-3">
              <img class="img-responsive venue_logo" src="<%= @venue.venue_icon_url %>" />
            </div>
            <div class="col-md-6">
              <h2 class="venue_name"><%= @venue.name %></h2>
              <h3 class="venue_city_state"><%= @venue.venue_city %>, <%= @venue.venue_state %> <%= @venue.venue_country %></h3>
              <p class="venue_type"><%= @venue.primary_category %></p>
            </div>
            <div class="col-md-3">
              <a href="#" class="btn btn-danger btn-lg btn-venue-phone pull-right">Drunk Call</a>
            </div>
          </div>
          <div class="venue_body_details">
            <div class="col-md-8">
              <p>VHS intelligentsia sartorial, chambray paleo DIY sriracha twee bespoke ugh fixie slow-carb. Green juice distillery forage kale chips, 3 wolf moon fingerstache beard schlitz polaroid ennui gastropub kombucha poutine. Vegan single-origin coffee leggings, sartorial crucifix yuccie ennui brooklyn schlitz fashion axe. Cold-pressed portland street art farm-to-table iPhone. Franzen meh authentic letterpress green juice asymmetrical bicycle rights organic retro forage hammock. Cardigan whatever PBR&amp;B stumptown, sartorial craft beer blue bottle master cleanse microdosing. Swag chambray master cleanse, squid paleo single-origin coffee food truck tumblr fingerstache irony banh mi hoodie meh.</p>
              <p class="second_paragraph">Irony DIY synth tofu, umami dreamcatcher keytar post-ironic disrupt tattooed man braid forage. Vinyl blog pop-up migas. Tofu literally wolf umami put a bird on it. Drinking vinegar artisan stumptown keytar, authentic skateboard waistcoat +1 whatever try-hard chambray. Hoodie chambray portland vinyl, blog venmo YOLO health goth narwhal vice bushwick fap church-key ennui.</p>

              <div class="venue_carousel text-center">
                <div class="carousel slide row" data-ride="carousel" data-type="multi" data-interval="2000" id="fruitscarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                        <div class="item">
                            <div class="col-md-3 col-sm-4 col-xs-12"><a href="#"><img src="http://lorempixel.com/262/262/" class="img-responsive"></a></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#fruitscarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#fruitscarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <aside>
                <div class="venue_social_links">
                  <div class="col-md-3">
                    <a href="<%= @venue.facebook_url %>"><img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" /></a>
                  </div>
                  <div class="col-md-3">
                    <a href="<%= @venue.twitter_handle %>"><img class="img-responsive" src="http://www.free-icons-download.net/images/twitter-logo-icon-1159.png" /></a>
                  </div>
                  <div class="col-md-3">
                    <a href="<%= @venue.instragram_url %>"><img class="img-responsive" src="https://cdn4.iconfinder.com/data/icons/social-papercut/512/instagram.png" /></a>
                  </div>
                  <div class="col-md-3">
                    <a href="<%= @venue.venue_url %>"><img class="img-responsive" src="https://www.ardormediafactory.com/wp-content/uploads/2015/07/links_icon.png" /></a>
                  </div>
                </div>

                <div class="people_like_container">
                  <h2 class="text-center venue_likes" id="like_meter">0</h2>
                  <h2 class="text-center venue_likes_subtitle">people like this brewery</h2>
                  <button class="btn btn-warning venue_like_btn center-block" id="like_me">Like This Brewery</button>
                  <div class="people_that_like">
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                    <div class="col-md-3">
                      <a href="#"><img class="img-responsive" src="http://lorempixel.com/100/100/" /></a>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="venue_comments">

                <div class="col-md-12" id="logout">
                    <div class="page-header">
                        <h3 class="reviews">Beer us some feedback</h3>
                        <div class="logout">
                            <a href="/results" class="btn btn-danger btn-lg btn-venue-phone text-uppercase" type="button">Back to results</a>
                        </div>
                    </div>

                    <div class="comment-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Comments</h4></a></li>
                            <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="comments-logout">
                                <ul class="media-list">

                                 <% @comments.each do | t | %>

                                  <li class="media">
                                    <a class="pull-left" href="#">
                                      <img  class="media-object img-circle" src="<%= t.photo_url %>" alt="profile">
                                    </a>
                                    <div class="media-body">
                                      <div class="well well-lg">
                                          <h4 class="media-heading text-uppercase reviews"><%= t.user_name %> </h4>
                                          <ul class="media-date text-uppercase reviews list-inline">
                                            <li class="mm"><%= t.created_at.strftime("%m") %></li>
                                            <li class="dd"><%= t.created_at.strftime("%d") %></li>
                                            <li class="aaaa"><%= t.created_at.strftime("%Y") %></li>
                                          </ul>
                                          <p class="media-comment editable_comment" data-type="text" data-pk="<%= t.id %>" data-url="/comment/<%= t.id %>" data-title="Update comment" >
                                            <%= t.comment %>
                                          </p>
                                          <form action="/venue/<%= @venue.id %>/comment/<%= t.id %>/delete" method="POST">
                                            <input name="_method" value="DELETE" type="hidden"/>
                                            <button class="btn btn-danger  text-uppercase" type="submit" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Delete</button>
                                          </form>
                                      </div>
                                    </div>
                                  </li>

                                  <% end %>

                                </ul>
                            </div>
                            <div class="tab-pane" id="add-comment">
                                <form action="/venue/<%= @venue.id %>/comment/new" method="POST" class="form-horizontal" id="commentForm" role="form">
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Comment</label>
                                        <div class="col-sm-10">
                                          <textarea class="form-control" name="comment_body" id="addComment" rows="5"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-success text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</section>




<script src="<%= url('/javascript/js/venue_map.js') %>"></script>
